body {
    padding: 20px;
}

table {
    border: 1px solid #663399;
    width: 100%;
    padding: 5px;
}

.single-detail-table .right-cell {
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 10px;
    width: 20%;
    text-align: left;
}

th {
    color: white;
    font-size: large;
}

tr {
    border: 1px solid #663399;
    background-color: white;
    padding: 10px;
}

tr, td {
    font-size: medium;
    padding: 10px;
}

.header-row th {
    background-color: black;
    color: white;
}

tr:nth-child(odd) td {
    background-color: #663399;
    color: white;
    text-align: center;
}

tr:nth-child(even) td {
    background-color: #C690FC;
    color: black;
    text-align: center;
}

.topic {
    background-color: black;
    color: white;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 15px;
    clear: left;
}

.list-items {
    font-size: 25px;
}

.container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-family: 'Bell MT', sans-serif;
    padding: 20px;
}

#summary {
    background-color: #663399;
    font-family: 'Bell MT', sans-serif;
    padding: 20px;
    color: white;
    font-size: x-large;
}

.definitions {
    background-color: #663399;
    font-family: 'Bell MT', sans-serif;
    padding: 20px;
    color: white;
    font-size: large;
}

#summary ul {
    list-style-type: none;
}

#summary ul li span {
    margin-right: 0;
}

#summary ul li b {
    margin-left: 60%;
}

#footer {
    background-color: #663399;
    color: white;
    font-size: smaller;
    height: 50%;
    padding: 20px;
}

.product-dial-image-container{
    border:1px solid #663399;
    display: table;
    width: 100%;
}

.product-dial-image{
    float: left;
    width: 50%;
    margin: 1px;
}

